<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hellodoctor.patient.account.mappers.UserMapper">

    <select id="getUserDetailById" resultType="com.hellodoctor.patient.account.models.UserDetail">
        SELECT u.id,
        u.username,
        p.name,
        u.email,
        u.phone_number as phoneNumber,
        p.avatar_img as avatarImg,
        p.date_of_birth as dateOfBirth,
        p.gender,
        p.description,
        p.person_id_number as personIdNumber,
        p.address,
        p.height,
        p.weight
        FROM user u left join profile p on u.id = p.user_id
        <where>
            u.id = #{userId}
        </where>
    </select>

    <insert id="insertUser" useGeneratedKeys="true" parameterType="com.hellodoctor.patient.account.models.UserRegister">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">username,</if>
            <if test="email != null and email != ''">email,</if>
            <if test="phoneNumber != null and phoneNumber != ''">phone_number,</if>
            created_date,
            updated_date
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">#{username},</if>
            <if test="email != null and email != ''">#{email},</if>
            <if test="phoneNumber != null and phoneNumber != ''">#{phoneNumber},</if>
            now(),
            now()
        </trim>
        <selectKey resultType="long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateUserInformation" parameterType="com.hellodoctor.patient.account.models.UserDetail">
        update user
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="email != null">email = #{email},</if>
            <if test="phoneNumber != null">phone_number = #{phoneNumber},</if>
            updated_date = now()
        </set>
        where id = #{id}
    </update>
</mapper>